<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles/profile.css' />
    <link
      href='https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=M+PLUS+1&family=M+PLUS+2:wght@400;500;600&display=swap'
      rel='stylesheet'
    />
    <title>SNSAPP</title>
  </head>
  <body>
    <div class='top'>
      {{! 左部分  }}
      <div class='sidebar'>
        <div class='title'><a href='/'>SNSAPP</a></div>
        <div class='sidebar-item'>
          <div class='flex home' onclick='home()'>
            <img src='/images/home.png' alt='home' class='img' />
            <span class='sidebar-text'>ホーム</span>
          </div>
          <div class='flex search' onclick='search()'>
            <img src='/images/search.png' alt='search' class='img' />
            <span class='sidebar-text'>検索</span>
          </div>
          <div class='flex bell' onclick='bell()'>
            <img src='/images/bell.png' alt='bell' class='img' />
            <span class='sidebar-text'>通知</span>
          </div>
          <div class='flex dm' onclick='dm()'>
            <img src='/images/dm.png' alt='dm' class='img' />
            <span class='sidebar-text'>メッセージ</span>
          </div>
          <div class='flex profile' onclick='myprofile()'>
            <img src='/images/profile.png' alt='proflie' class='img' />
            <span class='sidebar-text'>プロフィール</span>
          </div>
          <div class='flex logout' onclick='logout()'>
            <img src='/images/logout.png' alt='logout' class='img' />
            <span class='sidebar-text'>ログアウト</span>
          </div>
        </div>
      </div>
      {{!  右部分　プロフィールのデータ  }}
      <div class='profile-data'>
        <div class='edit-upper'>
          <div class='profile-iconbox'>
            <img
              src='{{profile.icon}}'
              alt='アイコン画像'
              class='profile-icon'
            />
          </div>
          <div class='profile-delete'>
            <button
              class='delete-button'
              onclick='profileDelete()'
            >アカウント削除</button>
          </div>
        </div>
        <form
          action='/profile/edit'
          method='post'
          enctype='multipart/form-data'
        >
          <div class='edit-iconbox'>
            <div class='edit-text'>アイコン</div>
            <img
              src='{{profile.icon}}'
              alt='アイコン画像'
              class='edit-icon'
              id='image-preview'
            />
            <input
              type='file'
              name='image'
              src='#'
              id='image-input'
              accept='image/*'
            />
          </div>
          <div class='edit-name'>
            <div class='edit-text'>名前</div>
            <input
              type='text'
              name='name'
              id='name'
              placeholder='{{profile.name}}'
            />
          </div>
          <div class='edit-id'>
            <div class='edit-text'>id</div>
            <input
              type='text'
              name='profile_id'
              id='profile_id'
              placeholder='{{profile.profile_id}}'
            />
          </div>
          <div class='edit-selfpr'>
            <div class='edit-text'>自己紹介</div>
            <textarea
              name='self_pr'
              id='self_pr'
              cols='20'
              rows='4'
              placeholder='{{profile.self_pr}}'
            ></textarea>
          </div>
          <div class='edit-button'>
            <button
              class='edit-cancel'
              onclick='editCancel()'
              type='button'
            >編集を取り消す</button>
            <button class='edit-save' type='submit'>編集内容を保存</button>
          </div>
        </form>

      </div>
    </div>
    <script src='/js/profileEdit.js'></script>
  </body>
</html>